<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
    </array>
    <key>public.kern1.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>OE</string>
      <string>uni1EB8</string>
      <string>uni1EBA</string>
      <string>uni1EBC</string>
      <string>uni1EBE</string>
      <string>uni1EC0</string>
      <string>uni1EC2</string>
      <string>uni1EC4</string>
      <string>uni1EC6</string>
    </array>
    <key>public.kern1.Alpha</key>
    <array>
      <string>Alpha</string>
      <string>Alphatonos</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>uni0394</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
    </array>
    <key>public.kern1.Epsilon</key>
    <array>
      <string>Epsilon</string>
      <string>Epsilontonos</string>
      <string>Xi</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>uni1EC8</string>
      <string>uni1ECA</string>
    </array>
    <key>public.kern1.IJ</key>
    <array>
      <string>IJ</string>
      <string>IJacute</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>uni1EE4</string>
      <string>uni1EE6</string>
    </array>
    <key>public.kern1.Iota</key>
    <array>
      <string>Iota</string>
      <string>Iotadieresis</string>
      <string>Iotatonos</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>uni018F</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
    </array>
    <key>public.kern1.Ohorn</key>
    <array>
      <string>Ohorn</string>
      <string>uni1EDA</string>
      <string>uni1EDC</string>
      <string>uni1EDE</string>
      <string>uni1EE0</string>
      <string>uni1EE2</string>
    </array>
    <key>public.kern1.Omega</key>
    <array>
      <string>Omega</string>
      <string>Omegatonos</string>
      <string>uni03A9</string>
    </array>
    <key>public.kern1.Omicron</key>
    <array>
      <string>Omicron</string>
      <string>Omicrontonos</string>
      <string>Theta</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
    </array>
    <key>public.kern1.Uhorn</key>
    <array>
      <string>Uhorn</string>
      <string>uni1EE8</string>
      <string>uni1EEA</string>
      <string>uni1EEC</string>
      <string>uni1EEE</string>
      <string>uni1EF0</string>
    </array>
    <key>public.kern1.Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
      <string>Upsilontonos</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>uni1EA1</string>
      <string>uni1EA3</string>
      <string>uni1EA5</string>
      <string>uni1EA7</string>
      <string>uni1EA9</string>
      <string>uni1EAB</string>
      <string>uni1EAD</string>
      <string>uni1EAF</string>
      <string>uni1EB1</string>
      <string>uni1EB3</string>
      <string>uni1EB5</string>
      <string>uni1EB7</string>
    </array>
    <key>public.kern1.a.alt01</key>
    <array>
      <string>a.alt01</string>
      <string>aacute.alt01</string>
      <string>abreve.alt01</string>
      <string>acircumflex.alt01</string>
      <string>adieresis.alt01</string>
      <string>agrave.alt01</string>
      <string>amacron.alt01</string>
      <string>aogonek.alt01</string>
      <string>aring.alt01</string>
      <string>aringacute.alt01</string>
      <string>atilde.alt01</string>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uni1EA1.alt01</string>
      <string>uni1EA3.alt01</string>
      <string>uni1EA5.alt01</string>
      <string>uni1EA7.alt01</string>
      <string>uni1EA9.alt01</string>
      <string>uni1EAB.alt01</string>
      <string>uni1EAD.alt01</string>
      <string>uni1EAF.alt01</string>
      <string>uni1EB1.alt01</string>
      <string>uni1EB3.alt01</string>
      <string>uni1EB5.alt01</string>
      <string>uni1EB7.alt01</string>
      <string>uni1EE5</string>
      <string>uni1EE7</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern1.ae</key>
    <array>
      <string>ae</string>
      <string>aeacute</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>oe</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
    </array>
    <key>public.kern1.alpha</key>
    <array>
      <string>alpha</string>
      <string>alphatonos</string>
    </array>
    <key>public.kern1.alpha.alt01</key>
    <array>
      <string>alpha.alt01</string>
      <string>alphatonos.alt01</string>
      <string>uni03BC</string>
    </array>
    <key>public.kern1.asterisk</key>
    <array>
      <string>asterisk</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>uni2032</string>
      <string>uni2033</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
      <string>uni037E</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array>
      <string>dcaron</string>
      <string>lcaron</string>
    </array>
    <key>public.kern1.dotlessi</key>
    <array>
      <string>dotlessi</string>
      <string>g.alt01</string>
      <string>gbreve.alt01</string>
      <string>gcircumflex.alt01</string>
      <string>gcommaaccent.alt01</string>
      <string>gdotaccent.alt01</string>
      <string>ij</string>
      <string>ijacute</string>
      <string>j</string>
      <string>jacute</string>
      <string>jcircumflex</string>
      <string>q</string>
      <string>uni0237</string>
    </array>
    <key>public.kern1.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>uni00AD</string>
    </array>
    <key>public.kern1.eng</key>
    <array>
      <string>eng</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
    </array>
    <key>public.kern1.epsilon</key>
    <array>
      <string>epsilon</string>
      <string>epsilontonos</string>
    </array>
    <key>public.kern1.eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
    </array>
    <key>public.kern1.eth</key>
    <array>
      <string>eth</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>uni0259</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
    </array>
    <key>public.kern1.fi</key>
    <array>
      <string>fi</string>
      <string>i</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>uni1EC9</string>
      <string>uni1ECB</string>
    </array>
    <key>public.kern1.fl</key>
    <array>
      <string>fl</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>g.alt02</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern1.gamma</key>
    <array>
      <string>gamma</string>
      <string>nu</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.iota</key>
    <array>
      <string>iota</string>
      <string>iotadieresis</string>
      <string>iotadieresistonos</string>
      <string>iotatonos</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
    </array>
    <key>public.kern1.ohorn</key>
    <array>
      <string>ohorn</string>
      <string>uni1EDB</string>
      <string>uni1EDD</string>
      <string>uni1EDF</string>
      <string>uni1EE1</string>
      <string>uni1EE3</string>
    </array>
    <key>public.kern1.omega</key>
    <array>
      <string>omega</string>
      <string>omegatonos</string>
    </array>
    <key>public.kern1.omicron</key>
    <array>
      <string>omicron</string>
      <string>omicrontonos</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.quotedblright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
    </array>
    <key>public.kern1.uhorn</key>
    <array>
      <string>uhorn</string>
      <string>uni1EE9</string>
      <string>uni1EEB</string>
      <string>uni1EED</string>
      <string>uni1EEF</string>
      <string>uni1EF1</string>
    </array>
    <key>public.kern1.uni0400</key>
    <array>
      <string>uni0400</string>
      <string>uni0401</string>
      <string>uni0415</string>
      <string>uni04D4</string>
      <string>uni04D6</string>
    </array>
    <key>public.kern1.uni0403</key>
    <array>
      <string>uni0403</string>
      <string>uni0413</string>
      <string>uni0490</string>
      <string>uni04A4</string>
    </array>
    <key>public.kern1.uni0406</key>
    <array>
      <string>uni0406</string>
      <string>uni0407</string>
      <string>uni04C0</string>
    </array>
    <key>public.kern1.uni0409</key>
    <array>
      <string>uni0409</string>
      <string>uni040A</string>
      <string>uni042A</string>
      <string>uni042C</string>
    </array>
    <key>public.kern1.uni040B</key>
    <array>
      <string>uni040B</string>
      <string>uni04BA</string>
    </array>
    <key>public.kern1.uni040C</key>
    <array>
      <string>uni040C</string>
      <string>uni0416</string>
      <string>uni041A</string>
      <string>uni049C</string>
      <string>uni04A0</string>
      <string>uni04C1</string>
      <string>uni04DC</string>
    </array>
    <key>public.kern1.uni040E</key>
    <array>
      <string>uni040E</string>
      <string>uni0423</string>
      <string>uni04EE</string>
      <string>uni04F0</string>
      <string>uni04F2</string>
    </array>
    <key>public.kern1.uni0410</key>
    <array>
      <string>uni0410</string>
      <string>uni04D0</string>
      <string>uni04D2</string>
    </array>
    <key>public.kern1.uni0414</key>
    <array>
      <string>uni0414</string>
      <string>uni0426</string>
      <string>uni0429</string>
      <string>uni04A2</string>
      <string>uni04B6</string>
    </array>
    <key>public.kern1.uni0417</key>
    <array>
      <string>uni0417</string>
      <string>uni0498</string>
      <string>uni04DE</string>
    </array>
    <key>public.kern1.uni041E</key>
    <array>
      <string>uni041E</string>
      <string>uni042D</string>
      <string>uni042E</string>
      <string>uni0472</string>
      <string>uni04D8</string>
      <string>uni04E6</string>
      <string>uni04E8</string>
    </array>
    <key>public.kern1.uni0421</key>
    <array>
      <string>uni0421</string>
      <string>uni04AA</string>
    </array>
    <key>public.kern1.uni0430</key>
    <array>
      <string>uni0430</string>
      <string>uni04D1</string>
      <string>uni04D3</string>
    </array>
    <key>public.kern1.uni0430.alt01</key>
    <array>
      <string>uni0430.alt01</string>
      <string>uni0438</string>
      <string>uni0439</string>
      <string>uni043B</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0447</string>
      <string>uni0448</string>
      <string>uni044B</string>
      <string>uni044F</string>
      <string>uni0456</string>
      <string>uni0457</string>
      <string>uni045D</string>
      <string>uni045F</string>
      <string>uni04B9</string>
      <string>uni04D1.alt01</string>
      <string>uni04D3.alt01</string>
      <string>uni04E3</string>
      <string>uni04E5</string>
      <string>uni04F5</string>
      <string>uni04F9</string>
    </array>
    <key>public.kern1.uni0431</key>
    <array>
      <string>uni0431</string>
      <string>uni043E</string>
      <string>uni044D</string>
      <string>uni044E</string>
      <string>uni0473</string>
      <string>uni04D9</string>
      <string>uni04E7</string>
      <string>uni04E9</string>
    </array>
    <key>public.kern1.uni0432</key>
    <array>
      <string>uni0432</string>
      <string>uni0437</string>
      <string>uni0499</string>
      <string>uni04DF</string>
    </array>
    <key>public.kern1.uni0433</key>
    <array>
      <string>uni0433</string>
      <string>uni0453</string>
      <string>uni0491</string>
      <string>uni04A5</string>
    </array>
    <key>public.kern1.uni0434</key>
    <array>
      <string>uni0434</string>
      <string>uni0446</string>
      <string>uni0449</string>
      <string>uni04A3</string>
      <string>uni04B7</string>
    </array>
    <key>public.kern1.uni0435</key>
    <array>
      <string>uni0435</string>
      <string>uni0450</string>
      <string>uni0451</string>
      <string>uni04D5</string>
      <string>uni04D7</string>
    </array>
    <key>public.kern1.uni0436</key>
    <array>
      <string>uni0436</string>
      <string>uni043A</string>
      <string>uni045C</string>
      <string>uni049D</string>
      <string>uni04A1</string>
      <string>uni04C2</string>
      <string>uni04DD</string>
    </array>
    <key>public.kern1.uni0441</key>
    <array>
      <string>uni0441</string>
      <string>uni04AB</string>
    </array>
    <key>public.kern1.uni0443</key>
    <array>
      <string>uni0443</string>
      <string>uni045E</string>
      <string>uni04EF</string>
      <string>uni04F1</string>
      <string>uni04F3</string>
    </array>
    <key>public.kern1.uni044A</key>
    <array>
      <string>uni044A</string>
      <string>uni044C</string>
      <string>uni0459</string>
      <string>uni045A</string>
    </array>
    <key>public.kern1.uni045B</key>
    <array>
      <string>uni045B</string>
      <string>uni04BB</string>
    </array>
    <key>public.kern1.uni0496</key>
    <array>
      <string>uni0496</string>
      <string>uni049A</string>
    </array>
    <key>public.kern1.uni0497</key>
    <array>
      <string>uni0497</string>
      <string>uni049B</string>
    </array>
    <key>public.kern1.uni1EF5</key>
    <array>
      <string>uni1EF5</string>
      <string>uni1EF7</string>
      <string>uni1EF9</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern1.upsilon</key>
    <array>
      <string>upsilon</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
      <string>upsilontonos</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>uni1EA0</string>
      <string>uni1EA2</string>
      <string>uni1EA4</string>
      <string>uni1EA6</string>
      <string>uni1EA8</string>
      <string>uni1EAA</string>
      <string>uni1EAC</string>
      <string>uni1EAE</string>
      <string>uni1EB0</string>
      <string>uni1EB2</string>
      <string>uni1EB4</string>
      <string>uni1EB6</string>
    </array>
    <key>public.kern2.Alpha</key>
    <array>
      <string>Alpha</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>uni0394</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>O</string>
      <string>OE</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohorn</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>uni018F</string>
      <string>uni1ECC</string>
      <string>uni1ECE</string>
      <string>uni1ED0</string>
      <string>uni1ED2</string>
      <string>uni1ED4</string>
      <string>uni1ED6</string>
      <string>uni1ED8</string>
      <string>uni1EDA</string>
      <string>uni1EDC</string>
      <string>uni1EDE</string>
      <string>uni1EE0</string>
      <string>uni1EE2</string>
    </array>
    <key>public.kern2.Epsilontonos</key>
    <array>
      <string>Epsilontonos</string>
      <string>Etatonos</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>I</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>uni1EC8</string>
      <string>uni1ECA</string>
    </array>
    <key>public.kern2.IJ</key>
    <array>
      <string>IJ</string>
      <string>IJacute</string>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhorn</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>uni1EE4</string>
      <string>uni1EE6</string>
      <string>uni1EE8</string>
      <string>uni1EEA</string>
      <string>uni1EEC</string>
      <string>uni1EEE</string>
      <string>uni1EF0</string>
    </array>
    <key>public.kern2.Iota</key>
    <array>
      <string>Iota</string>
      <string>Iotadieresis</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.Omega</key>
    <array>
      <string>Omega</string>
      <string>uni03A9</string>
    </array>
    <key>public.kern2.Omicron</key>
    <array>
      <string>Omicron</string>
      <string>Theta</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>uni0162</string>
      <string>uni021A</string>
    </array>
    <key>public.kern2.Upsilon</key>
    <array>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>uni1EF4</string>
      <string>uni1EF6</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
    </array>
    <key>public.kern2._empty_lu.0_st.3_cl.0</key>
    <array/>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>uni1EA1</string>
      <string>uni1EA3</string>
      <string>uni1EA5</string>
      <string>uni1EA7</string>
      <string>uni1EA9</string>
      <string>uni1EAB</string>
      <string>uni1EAD</string>
      <string>uni1EAF</string>
      <string>uni1EB1</string>
      <string>uni1EB3</string>
      <string>uni1EB5</string>
      <string>uni1EB7</string>
    </array>
    <key>public.kern2.a.alt01</key>
    <array>
      <string>a.alt01</string>
      <string>aacute.alt01</string>
      <string>abreve.alt01</string>
      <string>acircumflex.alt01</string>
      <string>adieresis.alt01</string>
      <string>agrave.alt01</string>
      <string>amacron.alt01</string>
      <string>aogonek.alt01</string>
      <string>aring.alt01</string>
      <string>aringacute.alt01</string>
      <string>atilde.alt01</string>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
      <string>g.alt01</string>
      <string>gbreve.alt01</string>
      <string>gcircumflex.alt01</string>
      <string>gcommaaccent.alt01</string>
      <string>gdotaccent.alt01</string>
      <string>q</string>
      <string>uni1EA1.alt01</string>
      <string>uni1EA3.alt01</string>
      <string>uni1EA5.alt01</string>
      <string>uni1EA7.alt01</string>
      <string>uni1EA9.alt01</string>
      <string>uni1EAB.alt01</string>
      <string>uni1EAD.alt01</string>
      <string>uni1EAF.alt01</string>
      <string>uni1EB1.alt01</string>
      <string>uni1EB3.alt01</string>
      <string>uni1EB5.alt01</string>
      <string>uni1EB7.alt01</string>
    </array>
    <key>public.kern2.alpha</key>
    <array>
      <string>alpha</string>
      <string>alpha.alt01</string>
      <string>alphatonos</string>
      <string>alphatonos.alt01</string>
    </array>
    <key>public.kern2.asterisk</key>
    <array>
      <string>asterisk</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>uni2032</string>
      <string>uni2033</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
      <string>bracketright</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>oe</string>
      <string>ograve</string>
      <string>ohorn</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>uni0259</string>
      <string>uni1EB9</string>
      <string>uni1EBB</string>
      <string>uni1EBD</string>
      <string>uni1EBF</string>
      <string>uni1EC1</string>
      <string>uni1EC3</string>
      <string>uni1EC5</string>
      <string>uni1EC7</string>
      <string>uni1ECD</string>
      <string>uni1ECF</string>
      <string>uni1ED1</string>
      <string>uni1ED3</string>
      <string>uni1ED5</string>
      <string>uni1ED7</string>
      <string>uni1ED9</string>
      <string>uni1EDB</string>
      <string>uni1EDD</string>
      <string>uni1EDF</string>
      <string>uni1EE1</string>
      <string>uni1EE3</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
      <string>uni037E</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
    </array>
    <key>public.kern2.dotlessi</key>
    <array>
      <string>dotlessi</string>
      <string>eng</string>
      <string>kgreenlandic</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern2.emdash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>uni00AD</string>
    </array>
    <key>public.kern2.epsilon</key>
    <array>
      <string>epsilon</string>
      <string>epsilontonos</string>
    </array>
    <key>public.kern2.eta</key>
    <array>
      <string>eta</string>
      <string>etatonos</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>fi</string>
      <string>fl</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>g.alt02</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
    </array>
    <key>public.kern2.gamma</key>
    <array>
      <string>gamma</string>
      <string>nu</string>
    </array>
    <key>public.kern2.germandbls.alt01</key>
    <array>
      <string>germandbls.alt01</string>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>igrave</string>
      <string>ij</string>
      <string>ijacute</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>uni1EC9</string>
      <string>uni1ECB</string>
    </array>
    <key>public.kern2.iota</key>
    <array>
      <string>iota</string>
      <string>iotadieresis</string>
      <string>iotadieresistonos</string>
      <string>iotatonos</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>jacute</string>
      <string>jcircumflex</string>
      <string>uni0237</string>
    </array>
    <key>public.kern2.kappa</key>
    <array>
      <string>kappa</string>
      <string>mu</string>
      <string>uni03BC</string>
    </array>
    <key>public.kern2.omega</key>
    <array>
      <string>omega</string>
      <string>omegatonos</string>
    </array>
    <key>public.kern2.omicron</key>
    <array>
      <string>omicron</string>
      <string>omicrontonos</string>
      <string>sigma</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.quotedblright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tbar</string>
      <string>tcaron</string>
      <string>uni0163</string>
      <string>uni021B</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhorn</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uni1EE5</string>
      <string>uni1EE7</string>
      <string>uni1EE9</string>
      <string>uni1EEB</string>
      <string>uni1EED</string>
      <string>uni1EEF</string>
      <string>uni1EF1</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern2.uni0402</key>
    <array>
      <string>uni0402</string>
      <string>uni040B</string>
      <string>uni0422</string>
    </array>
    <key>public.kern2.uni0404</key>
    <array>
      <string>uni0404</string>
      <string>uni041E</string>
      <string>uni0421</string>
      <string>uni0472</string>
      <string>uni04AA</string>
      <string>uni04D8</string>
      <string>uni04E6</string>
      <string>uni04E8</string>
    </array>
    <key>public.kern2.uni0406</key>
    <array>
      <string>uni0406</string>
      <string>uni0407</string>
      <string>uni04C0</string>
    </array>
    <key>public.kern2.uni0409</key>
    <array>
      <string>uni0409</string>
      <string>uni041B</string>
    </array>
    <key>public.kern2.uni040E</key>
    <array>
      <string>uni040E</string>
      <string>uni0423</string>
      <string>uni04EE</string>
      <string>uni04F0</string>
      <string>uni04F2</string>
    </array>
    <key>public.kern2.uni0410</key>
    <array>
      <string>uni0410</string>
      <string>uni04D0</string>
      <string>uni04D2</string>
    </array>
    <key>public.kern2.uni0416</key>
    <array>
      <string>uni0416</string>
      <string>uni0496</string>
      <string>uni04C1</string>
      <string>uni04DC</string>
    </array>
    <key>public.kern2.uni0417</key>
    <array>
      <string>uni0417</string>
      <string>uni0498</string>
      <string>uni04DE</string>
    </array>
    <key>public.kern2.uni0425</key>
    <array>
      <string>uni0425</string>
      <string>uni04B2</string>
    </array>
    <key>public.kern2.uni0427</key>
    <array>
      <string>uni0427</string>
      <string>uni04B6</string>
      <string>uni04B8</string>
      <string>uni04F4</string>
    </array>
    <key>public.kern2.uni042A</key>
    <array>
      <string>uni042A</string>
      <string>uni04A0</string>
    </array>
    <key>public.kern2.uni0430</key>
    <array>
      <string>uni0430</string>
      <string>uni04D1</string>
      <string>uni04D3</string>
      <string>uni04D5</string>
    </array>
    <key>public.kern2.uni0430.alt01</key>
    <array>
      <string>uni0430.alt01</string>
      <string>uni04D1.alt01</string>
      <string>uni04D3.alt01</string>
    </array>
    <key>public.kern2.uni0432</key>
    <array>
      <string>uni0432</string>
      <string>uni0433</string>
      <string>uni0438</string>
      <string>uni0439</string>
      <string>uni043A</string>
      <string>uni043C</string>
      <string>uni043D</string>
      <string>uni043F</string>
      <string>uni0446</string>
      <string>uni0448</string>
      <string>uni0449</string>
      <string>uni044B</string>
      <string>uni044C</string>
      <string>uni044E</string>
      <string>uni0453</string>
      <string>uni0456</string>
      <string>uni0457</string>
      <string>uni045A</string>
      <string>uni045C</string>
      <string>uni045D</string>
      <string>uni045F</string>
      <string>uni0491</string>
      <string>uni0495</string>
      <string>uni049B</string>
      <string>uni049D</string>
      <string>uni04A3</string>
      <string>uni04A5</string>
      <string>uni04E3</string>
      <string>uni04E5</string>
      <string>uni04F9</string>
    </array>
    <key>public.kern2.uni0435</key>
    <array>
      <string>uni0435</string>
      <string>uni043E</string>
      <string>uni0441</string>
      <string>uni0450</string>
      <string>uni0451</string>
      <string>uni0454</string>
      <string>uni0473</string>
      <string>uni04AB</string>
      <string>uni04D7</string>
      <string>uni04D9</string>
      <string>uni04E7</string>
      <string>uni04E9</string>
    </array>
    <key>public.kern2.uni0436</key>
    <array>
      <string>uni0436</string>
      <string>uni0497</string>
      <string>uni04C2</string>
      <string>uni04DD</string>
    </array>
    <key>public.kern2.uni0437</key>
    <array>
      <string>uni0437</string>
      <string>uni0499</string>
      <string>uni04DF</string>
    </array>
    <key>public.kern2.uni043B</key>
    <array>
      <string>uni043B</string>
      <string>uni0459</string>
    </array>
    <key>public.kern2.uni0443</key>
    <array>
      <string>uni0443</string>
      <string>uni045E</string>
      <string>uni04EF</string>
      <string>uni04F1</string>
      <string>uni04F3</string>
    </array>
    <key>public.kern2.uni0445</key>
    <array>
      <string>uni0445</string>
      <string>uni04B3</string>
    </array>
    <key>public.kern2.uni0447</key>
    <array>
      <string>uni0447</string>
      <string>uni04B7</string>
      <string>uni04B9</string>
      <string>uni04F5</string>
    </array>
    <key>public.kern2.uni044A</key>
    <array>
      <string>uni044A</string>
      <string>uni04A1</string>
    </array>
    <key>public.kern2.uni0452</key>
    <array>
      <string>uni0452</string>
      <string>uni045B</string>
    </array>
    <key>public.kern2.uni1EF5</key>
    <array>
      <string>uni1EF5</string>
      <string>uni1EF7</string>
      <string>uni1EF9</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.upsilon</key>
    <array>
      <string>upsilon</string>
      <string>upsilondieresis</string>
      <string>upsilondieresistonos</string>
      <string>upsilontonos</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
