@font-face {
  font-family: "Laica Regular";
  src: url("/static/fonts/LaicaB-Regular.woff2") format("woff2"), url("/static/fonts/LaicaB-Regular.woff") format("woff");
}

@font-face {
  font-family: "Laica Italic";
  src: url("/static/fonts/LaicaB-Italic.woff2") format("woff2"), url("/static/fonts/LaicaB-Italic.woff") format("woff");
}

@font-face {
  font-family: "Arnold Regular";
  src: url("/static/fonts/Arnold_v0.3-Regular.woff2") format("woff2"), url("/static/fonts/Arnold_v0.3-Regular.woff") format("woff");
}

@font-face {
  font-family: "Arnold Italic";
  src: url("/static/fonts/Arnold_v0.3-Italic.woff2") format("woff2"), url("/static/fonts/Arnold_v0.3-Italic.woff") format("woff");
}

@font-face {
  font-family: "Download Icon";
  src: url("/static/fonts/Download-Icon.woff2") format("woff2"), url("/static/fonts/Download-Icon.woff") format("woff");
}

@font-face {
  font-family: 'Gig Regular';
  src: url("/static/fonts/GigV0.2-Regular.woff") format("woff");
}
