footer {
  background: #1858A8;
  padding-bottom: 1rem;
}

@media (min-width: 1200px) {
  footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer p {
  font-family: "Arnold Regular", Monaco, monospace;
  color: #FFF;
  font-size: 0.7rem;
  line-height: 1rem;
  font-variant-caps: small-caps;
  text-transform: lowercase;
}
@media (min-width: 1200px) {
  footer p {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
}

footer em {
  font-family: "Arnold Italic", Monaco, monospace;
}

footer a {
  color: #A6CEFF;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid #A6CEFF;
}

footer a:visited {
  color: #A6CEFF;
}

footer a:visited:hover {
  color: #A6CEFF;
  border-bottom: 1px solid #A6CEFF;
}

.footer-title:before {
  content: "[";
}

.footer-title:after {
  content: "]";
}

@media (min-width: 900px) {
  .footer-callout {
    padding: 0 2rem;
  }
}
@media (min-width: 1200px) {
  .footer-callout {
    padding: 0;
    width: 31%;
  }
}

.footer-title {
  padding-top: 1rem;
  text-indent: 1rem;
}
@media (min-width: 1200px) {
  .footer-title {
    text-indent: 0.5rem;
  }
}

img#license {
  padding-top: 0.5rem;
  height: 2rem;
}