/* line 4, lib/sass/footer.scss */
footer {
  background: #1858A8;
  padding-bottom: 1rem;
}

@media (min-width: 1200px) {
  /* line 9, lib/sass/footer.scss */
  footer > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* line 17, lib/sass/footer.scss */
footer p {
  font-family: "Arnold Regular", Monaco, monospace;
  color: #FFF;
  font-size: .7rem;
  line-height: 1rem;
  font-variant-caps: small-caps;
  text-transform: lowercase;
}

@media (min-width: 1200px) {
  /* line 17, lib/sass/footer.scss */
  footer p {
    font-size: .5rem;
    line-height: .75rem;
  }
}

/* line 32, lib/sass/footer.scss */
footer em {
  font-family: "Arnold Italic", Monaco, monospace;
}

/* line 37, lib/sass/footer.scss */
footer a {
  color: #A6CEFF;
  text-decoration: none;
}

/* line 42, lib/sass/footer.scss */
footer a:hover {
  text-decoration: none;
  border-bottom: 1px solid #A6CEFF;
}

/* line 47, lib/sass/footer.scss */
footer a:visited {
  color: #A6CEFF;
}

/* line 51, lib/sass/footer.scss */
footer a:visited:hover {
  color: #A6CEFF;
  border-bottom: 1px solid #A6CEFF;
}

/* line 56, lib/sass/footer.scss */
.footer-title:before {
  content: '[';
}

/* line 60, lib/sass/footer.scss */
.footer-title:after {
  content: ']';
}

@media (min-width: 900px) {
  /* line 64, lib/sass/footer.scss */
  .footer-callout {
    padding: 0 2rem;
  }
}

@media (min-width: 1200px) {
  /* line 64, lib/sass/footer.scss */
  .footer-callout {
    padding: 0;
    width: 31%;
  }
}

/* line 76, lib/sass/footer.scss */
.footer-title {
  padding-top: 1rem;
  text-indent: 1rem;
}

@media (min-width: 1200px) {
  /* line 76, lib/sass/footer.scss */
  .footer-title {
    text-indent: .5rem;
  }
}

/* line 85, lib/sass/footer.scss */
img#license {
  padding-top: .5rem;
}
