@charset "UTF-8";
header {
  color: #FFF;
  width: 100%;
  margin: 0 auto;
  font-family: "Arnold Regular", Monaco, monospace;
  background-color: #1858A8;
  position: fixed;
  top: 0;
  z-index: 1;
}
@media (max-width: 900px) {
  header {
    border-bottom: 1px solid #FFEDED;
  }
}

header a {
  color: #FFF;
  text-decoration: none;
}

header a:hover {
  text-decoration: none;
  border: none;
}

header a:visited {
  color: #FFF;
}

header a:visited:hover {
  color: #FFF;
  border: none;
}

#resource_title, #author_name {
  display: inline-block;
  font-family: "Arnold Regular", Monaco, monospace;
  font-variant-caps: small-caps;
  text-transform: lowercase;
  font-size: 0.7rem;
  line-height: 2rem;
}
@media (min-width: 600px) {
  #resource_title, #author_name {
    line-height: 2rem;
  }
}
@media (min-width: 900px) {
  #resource_title, #author_name {
    line-height: 2rem;
  }
}
@media (min-width: 1200px) {
  #resource_title, #author_name {
    line-height: 2rem;
  }
}

@media (max-width: 900px) {
  #author_name {
    display: none;
  }
}

#author_name:before {
  content: "  ";
}

@media (max-width: 600px) {
  .ribbon {
    display: none;
  }
}
.ribbon {
  position: absolute;
  top: 0;
  right: 0;
}

header ul {
  margin: 0;
  padding: 0 1rem;
  list-style: none;
  list-style-type: none;
  overflow: hidden;
}

header ul li {
  padding-bottom: 0.5rem;
  font-family: "Laica Regular", Georgia, serif;
}

header li a {
  padding: 0;
  color: #FFF;
  text-decoration: none;
}

header li a:hover {
  color: #FFF;
  border: none;
}

/* menu */
header .responsive-menu {
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
header .responsive-menu-icon {
  cursor: pointer;
  float: left;
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-right: 1rem;
  height: 2rem;
  line-height: 1.525rem;
  vertical-align: middle;
}
@media (min-width: 1200px) {
  header .responsive-menu-icon {
    display: none;
  }
}

header .responsive-menu-icon .navicon {
  background: #FFF;
  display: inline-block;
  height: 2px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px;
}

header .responsive-menu-icon .navicon:before,
header .responsive-menu-icon .navicon:after {
  background: #FFF;
  content: "";
  display: inline-block;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  height: 100%;
  width: 100%;
}

header .responsive-menu-icon .navicon:before {
  top: 5px;
}

header .responsive-menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
header .responsive-menu-btn {
  display: none;
}

header .responsive-menu-btn:checked ~ .responsive-menu {
  max-height: 100%;
}

header .responsive-menu-btn:checked ~ .responsive-menu-icon .navicon {
  background: transparent;
}

header .responsive-menu-btn:checked ~ .responsive-menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .responsive-menu-btn:checked ~ .responsive-menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .responsive-menu-btn:checked ~ .responsive-menu-icon:not(.steps) .navicon:before,
header .responsive-menu-btn:checked ~ .responsive-menu-icon:not(.steps) .navicon:after {
  top: 0;
}