#welcome {
  background-color: #FFEDED;
  margin-top: 2rem;
}
@media (min-width: 600px) {
  #welcome {
    margin-top: 2rem;
  }
}
@media (min-width: 900px) {
  #welcome {
    margin-top: 2rem;
  }
}
@media (min-width: 1200px) {
  #welcome {
    margin-top: 2rem;
  }
}

#welcome > div {
  padding: 1rem 0;
}
@media (min-width: 900px) {
  #welcome > div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#welcome h1 {
  color: #F36;
  padding-bottom: 0.5rem;
}

#welcome p, #welcome .callout > h4 {
  line-height: 1.25rem;
  font-size: 1rem;
}

#toc {
  margin: 1rem 0;
}

#toc h2 {
  margin-top: 0;
}

#toc > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.toc-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.5rem 0;
  width: 100%;
}
@media (min-width: 900px) {
  .toc-item {
    width: 49%;
  }
}

.toc-left {
  width: 22%;
  margin-right: 3%;
}

.toc-left h3 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #1858A8;
}

.toc-right {
  width: 75%;
}

.toc-right p a, .toc-right .callout > h4 a {
  font-family: "Arnold Regular", Monaco, monospace;
  line-height: 1rem;
  font-size: 0.72rem;
}

.toc-right h2 a {
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: "Gig Bold", Georgia, serif;
  color: #F36;
}

#callouts {
  background-color: #FFEDED;
  color: #1858A8;
}

#tutorial-access {
  margin: 1.5rem 0 2rem 0;
}

#tutorial-access div {
  text-align: center;
}

#tutorial-access div h4 {
  line-height: 1rem;
  font-size: 0.72rem;
  color: #1858A8;
  text-align: center;
  font-family: "Arnold Regular", Monaco, monospace;
  text-transform: lowercase;
  letter-spacing: 12px;
  font-variant-caps: small-caps;
}

#tutorial-access div h1 {
  font-family: "Gig Bold", Georgia, serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

#tutorial-access div p, #tutorial-access div .callout > h4 {
  line-height: 1.1rem;
}
@media (min-width: 900px) {
  #tutorial-access div p, #tutorial-access div .callout > h4 {
    padding: 0 3rem;
  }
}

#tutorial-access div p.read-more, #tutorial-access div .callout > h4.read-more {
  margin-top: 0.2rem;
  font-family: "Arnold Regular", Monaco, monospace;
  line-height: 1rem;
  font-size: 0.72rem;
}

#callouts > div {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 1200px) {
  #callouts > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.callout {
  height: 100%;
  padding: 0.5rem 0;
}
@media (min-width: 900px) {
  .callout {
    padding: 0.5rem 2rem;
  }
}
@media (min-width: 1200px) {
  .callout {
    width: 31%;
    padding: 0.5rem 0;
  }
}

.callout > h4 {
  font-family: "Laica Bold", Georgia, serif;
  text-indent: 1rem;
}
@media (min-width: 1200px) {
  .callout > h4 {
    text-indent: 0.5rem;
  }
}

@media (min-width: 1200px) {
  .callout > p, .callout > h4 {
    line-height: 1rem;
    font-size: 0.62rem;
  }
}

#newsletter {
  background-color: #F36;
}

#newsletter > div {
  padding: 0 0 0.5rem 0;
}

#mc_embed_signup form {
  text-align: center;
  padding: 0.25rem 0 0.25rem 0;
}

/* positions input field horizontally */
.mc-field-group {
  display: inline-block;
}

#mc_embed_signup input.email {
  font-family: "Arnold Regular", Monaco, monospace;
  font-size: 0.7rem;
  line-height: 1rem;
  border: 1px solid #FFEDED;
  border-radius: 0.25rem;
  color: #000;
  background-color: #FFF5F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.25rem;
  padding: 0px 0.5rem;
  display: inline-block;
  margin: 0;
  width: 16rem;
  vertical-align: top;
}

#mc_embed_signup label {
  margin-top: 0.25em;
  display: block;
  font-family: "Gig Bold";
  color: #FFEDED;
  line-height: 1.5rem;
  font-size: 1.5em;
  padding-bottom: 0.25em;
}

/* positions button horizontally in line with input */
#mc_embed_signup .clear {
  display: inline-block;
}

#mc_embed_signup .button {
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-family: "Arnold Regular", Monaco, monospace;
  border: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
  color: #F36;
  background-color: #FFEDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.25rem;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
  -webkit-transition: all 0.23s ease-in-out 0s;
  transition: all 0.23s ease-in-out 0s;
}

#mc_embed_signup .button:hover {
  background-color: #BC2650;
  color: #FFEDED;
  cursor: pointer;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em 0.5em 0em 0.5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em 0.5em 0.5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: 0.5em 0;
}

@media (max-width: 900px) {
  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  #mc_embed_signup .clear {
    display: block;
    width: 100%;
  }
  #mc_embed_signup .button {
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}