#page > div {
  margin-top: 2rem;
}
@media (min-width: 600px) {
  #page > div {
    margin-top: 2rem;
  }
}
@media (min-width: 900px) {
  #page > div {
    margin-top: 2rem;
  }
}
@media (min-width: 1200px) {
  #page > div {
    margin-top: 2rem;
  }
}

.large-image {
  padding-bottom: 0.5rem;
  width: 100%;
}

#page p, #page ul, #page form {
  margin-bottom: 0.5rem;
}

@media (min-width: 1200px) {
  #page h1 {
    padding-left: 4rem;
  }
  #page h2 {
    padding-left: 4rem;
  }
  #page h3 {
    padding-left: 4rem;
  }
  #page p {
    padding-left: 4rem;
  }
  #page ul {
    padding-left: 4rem;
  }
  #page form {
    padding-left: 4rem;
  }
  #page figcaption {
    padding-left: 4rem;
  }
}
#page h3 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: "Laica Bold", Georgia, serif;
}

.button {
  font-size: 0.5rem;
  line-height: 0.5rem;
  font-family: "Arnold Regular", Monaco, monospace;
  border: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
  color: #FFF;
  background-color: #1858A8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1.25rem;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  -webkit-transition: all 0.23s ease-in-out 0s;
  transition: all 0.23s ease-in-out 0s;
  margin: 0;
  margin-bottom: 1rem;
}

.button:hover {
  background-color: #F36;
  color: #FFF;
  cursor: pointer;
}

@media (max-width: 900px) {
  .button {
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}