@charset "UTF-8";
/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=python&plugins=line-numbers+show-invisibles */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*=language-],
pre[class*=language-] {
  color: #222;
  max-height: 20rem;
  background: none;
  text-shadow: none;
  font-family: "Arnold Regular", Monaco, monospace;
  font-size: 0.6rem;
  -webkit-font-variant-ligatures: no-contextual;
          font-variant-ligatures: no-contextual;
  -webkit-font-feature-settings: "calt" 0;
  font-feature-settings: "calt" 0;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 0.9rem;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection,
code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #F36;
}

pre[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection, code[class*=language-]::-moz-selection, code[class*=language-] ::-moz-selection {
  text-shadow: none;
  background: #F36;
}

pre[class*=language-]::selection, pre[class*=language-] ::selection,
code[class*=language-]::selection, code[class*=language-] ::selection {
  text-shadow: none;
  background: #F36;
}

@media print {
  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*=language-] {
  padding: 0.5rem 0.75rem 0.75rem 0.75rem;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.5rem;
  overflow: scroll;
  width: 100%;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background-color: #FFF5F8;
  border-top: 0.2rem solid #1858A8;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1rem;
  border-top: none;
  border-radius: 0.3rem;
  white-space: normal;
  margin-left: 0;
  font-size: 0.6rem;
}

td > code[class*=language-], th > code[class*=language-] {
  background-color: transparent;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #777;
  font-family: "Arnold Italic", Monaco, monospace;
}

.token.punctuation {
  color: #1858A8;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffa319;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
  color: #96d400;
}

.token.builtin {
  color: #F36;
  font-family: "Arnold Italic", Monaco, monospace;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #0abfaa;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #ba8caf;
}

.token.function,
.token.class-name {
  color: #0099ff;
  font-family: "Arnold Italic", Monaco, monospace;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.tab:not(:empty),
.token.cr,
.token.lf,
.token.space {
  position: relative;
}

.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
  color: hsl(24, 20%, 85%);
  position: absolute;
}

.token.tab:not(:empty):before {
  content: "⇥";
}

.token.cr:before {
  content: "␍";
}

.token.crlf:before {
  content: "␍␊";
}

.token.space:before {
  content: "·";
}