/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=python&plugins=line-numbers+show-invisibles */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
@font-face {
  font-family: 'Laica Regular';
  src: url("/static/fonts/Laica-Regular.woff2") format("woff2"), url("/static/fonts/Laica-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Laica Italic';
  src: url("/static/fonts/Laica-Regular_Italic.woff2") format("woff2"), url("/static/fonts/Laica-Regular_Italic.woff") format("woff"); }

@font-face {
  font-family: 'Laica Bold';
  src: url("/static/fonts/Laica-Bold.woff") format("woff"), url("/static/fonts/Laica-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Arnold Regular';
  src: url("/static/fonts/Arnold_v0.3-Regular.woff2") format("woff2"), url("/static/fonts/Arnold_v0.3-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Arnold Italic';
  src: url("/static/fonts/Arnold_v0.3-Italic.woff2") format("woff2"), url("/static/fonts/Arnold_v0.3-Italic.woff") format("woff"); }

@font-face {
  font-family: 'Gig Regular';
  src: url("/static/fonts/GigV0.2-Regular.woff") format("woff"); }

code[class*="language-"],
pre[class*="language-"] {
  color: #666666;
  background: none;
  text-shadow: none;
  font-family: 'Arnold Regular', monospace;
  font-size: .9em;
  font-variant-ligatures: no-contextual;
  -moz-font-feature-settings: "calt" 0;
  -webkit-font-feature-settings: "calt" 0;
  font-feature-settings: "calt" 0;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #FF3366; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #FF3366; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: .5em;
  overflow: auto;
  clear: right;
  width: 100%; }
  @media only screen and (min-width: 1281px) {
    pre[class*="language-"] {
      margin-left: 164px;
      width: 624px; } }

.exercise_content pre[class*="language-"] {
  background: transparent;
  border: none;
  margin-left: 0; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #fff5f8;
  border-top: 3px solid #1858A8; }

div.code_image_wrapper pre[class*="language-"] {
  order: 1;
  margin: 0; }
  @media only screen and (min-width: 1281px) {
    div.code_image_wrapper pre[class*="language-"] {
      width: 624px; } }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-top: none;
  border-radius: .3em;
  white-space: normal;
  margin-left: 0;
  font-size: .9em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #cdcdcd;
  font-family: 'Arnold Italic', monospace; }

.token.punctuation {
  color: #1858A8; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ffa319; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.inserted {
  color: #96d400; }

.token.builtin {
  color: #FF3366;
  font-family: 'Arnold Italic', monospace; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #0abfaa; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #ba8caf; }

.token.function,
.token.class-name {
  color: #0099ff;
  font-family: 'Arnold Italic', monospace; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.tab:not(:empty),
.token.cr,
.token.lf,
.token.space {
  position: relative; }

.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
  color: #e0d7d1;
  position: absolute; }

.token.tab:not(:empty):before {
  content: '\21E5'; }

.token.cr:before {
  content: '\240D'; }

.token.crlf:before {
  content: '\240D\240A'; }

.token.space:before {
  content: '\00B7'; }
