@charset "UTF-8";
@font-face {
  font-family: 'Laica Regular';
  src: url("/static/fonts/Laica-Regular.woff2") format("woff2"), url("/static/fonts/Laica-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Laica Italic';
  src: url("/static/fonts/Laica-Regular_Italic.woff2") format("woff2"), url("/static/fonts/Laica-Regular_Italic.woff") format("woff"); }

@font-face {
  font-family: 'Laica Bold';
  src: url("/static/fonts/Laica-Bold.woff") format("woff"), url("/static/fonts/Laica-Bold.woff2") format("woff2"); }

@font-face {
  font-family: 'Arnold Regular';
  src: url("/static/fonts/Arnold_v0.3-Regular.woff2") format("woff2"), url("/static/fonts/Arnold_v0.3-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Arnold Italic';
  src: url("/static/fonts/Arnold_v0.3-Italic.woff2") format("woff2"), url("/static/fonts/Arnold_v0.3-Italic.woff") format("woff"); }

@font-face {
  font-family: 'Gig Regular';
  src: url("/static/fonts/GigV0.2-Regular.woff") format("woff"); }

html {
  height: 100%; }

::selection {
  background: #FFEDED;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #FFEDED;
  /* Gecko Browsers */ }

.alignmentContainer, .homePageCallouts, .index-header-wrapper, .alignmentContainerIndex {
  margin: 0 auto; }
  @media only screen and (max-width: 600px) {
    .alignmentContainer, .homePageCallouts, .index-header-wrapper, .alignmentContainerIndex {
      width: 100%; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .alignmentContainer, .homePageCallouts, .index-header-wrapper, .alignmentContainerIndex {
      width: 436px; } }
  @media only screen and (min-width: 1281px) {
    .alignmentContainer, .homePageCallouts, .index-header-wrapper, .alignmentContainerIndex {
      width: 952px; } }

@media only screen and (min-width: 1281px) {
  .chapterContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap; } }

.left-column {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  background-color: #eeeeee; }
  @media only screen and (max-width: 600px) {
    .left-column {
      display: none; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .left-column {
      display: none; } }
  @media only screen and (min-width: 1281px) {
    .left-column {
      display: block;
      min-height: 85vh;
      width: 296px; } }

.right-column {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }
  @media only screen and (max-width: 600px) {
    .right-column {
      margin: 0 auto;
      padding: 0 1em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .right-column {
      margin: 0 auto;
      width: 436px; } }
  @media only screen and (min-width: 1281px) {
    .right-column {
      width: 952px;
      margin-left: 32px; } }

@media only screen and (max-width: 600px) {
  .page-container {
    margin: 0 auto;
    padding: 0 1em; } }

body {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-family: 'Laica Regular', Georgia, serif;
  font-size: 18px;
  line-height: 1.5em;
  font-kerning: normal;
  color: #333;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

p {
  margin-bottom: .5em; }
  @media only screen and (min-width: 1281px) {
    p {
      margin-left: 164px;
      margin-right: 164px; } }

.gig {
  font-family: 'Gig Regular'; }

.arnold {
  font-family: "Arnold Regular"; }

h1 {
  font-family: 'Gig Regular';
  color: #FF3366;
  margin-bottom: .5em; }
  @media only screen and (max-width: 600px) {
    h1 {
      margin-top: 1.5em;
      font-size: 2.4em;
      line-height: 1.25em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    h1 {
      margin-top: 1.8em;
      font-size: 2.4em;
      line-height: 1.25em;
      padding-left: 0; } }
  @media only screen and (min-width: 1281px) {
    h1 {
      margin-top: 1.25em;
      font-size: 3em;
      line-height: 1.25em;
      margin-left: 164px; } }

h2 {
  font-family: 'Gig Regular';
  color: #FF3366;
  font-size: 1.5em;
  line-height: 1.5em; }
  @media only screen and (min-width: 1281px) {
    h2 {
      margin-left: 164px; } }

h2 > a, h2 a:active, h2 a:hover, h2 a:visited, h2 a:visited:hover {
  font-family: 'Gig Regular'; }

.anchorjs-link {
  color: #1858A8;
  border-bottom: none; }

h3 {
  font-family: 'Laica';
  text-transform: uppercase;
  color: #FF3366; }

h2.workbook {
  color: #1858A8; }
  @media only screen and (min-width: 1281px) {
    h2.workbook {
      margin-top: 2.8em;
      margin-bottom: 0.7em; } }

em  {
  font-family: 'Laica Italic'; }

.abstract {
  font-family: 'Laica Italic'; }

@media only screen and (min-width: 1281px) {
  li {
    padding-left: 0px;
    width: 592px; } }

ol, ul {
  list-style-type: none;
  margin-bottom: .5em; }
  @media only screen and (min-width: 1281px) {
    ol, ul {
      margin-left: 164px; } }

ol {
  list-style-type: decimal; }

.chapterContainer ul > li::before {
  content: '\2022';
  color: #FF3366;
  margin-right: .5em; }

.chapterContainer ul > li {
  text-indent: -1em;
  margin-left: 2em; }

strong {
  font-family: 'Laica Bold'; }

em, th {
  font-family: 'Laica Italic'; }

a {
  color: #FF3366;
  text-decoration: none; }

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #FF3366; }

a:visited {
  color: #FF3366; }

a:visited:hover {
  color: #FF3366;
  border-bottom: 1px solid #FF3366; }

div.opening {
  background-color: #FFEDED;
  width: 100%;
  box-sizing: border-box;
  padding: .2em 1em 1em 1em; }

@media only screen and (min-width: 1281px) {
  .opening h1, .opening p {
    margin-left: 164px;
    width: 624px; } }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .opening h1 .opening h1, .opening p .opening h1 {
    padding-top: .5em; } }

@media only screen and (min-width: 1281px) {
  .opening h1 .opening h1, .opening p .opening h1 {
    padding-top: .5em; } }

.opening h1 .opening p, .opening p .opening p {
  padding-bottom: 1.5em; }
  @media only screen and (min-width: 1281px) {
    .opening h1 .opening p, .opening p .opening p {
      font-size: 1.25em;
      line-height: 1.25em; } }

.tocCover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box; }
  @media only screen and (max-width: 600px) {
    .tocCover {
      margin-top: .5em;
      padding: 0 1em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .tocCover {
      padding: 0 1em; } }
  @media only screen and (min-width: 1281px) {
    .tocCover {
      margin: 2em 0;
      width: 952px; } }

.tocCover-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    .tocCover-item {
      margin-top: 1.2em;
      border-bottom: 2px solid #eeeeee;
      padding-bottom: 1em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .tocCover-item {
      margin-top: 1em;
      border-bottom: 2px solid #eeeeee;
      padding-bottom: 1em; } }
  @media only screen and (min-width: 1281px) {
    .tocCover-item {
      width: 460px;
      margin-bottom: 2.45em; } }

.noBorder {
  border: none; }

@media only screen and (max-width: 600px) {
  .tocCover-left {
    width: 20%;
    margin-right: 5%; } }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .tocCover-left {
    width: 20%;
    margin-right: 5%; } }

@media only screen and (min-width: 1281px) {
  .tocCover-left {
    width: 90px;
    margin-left: 42px; } }

@media only screen and (max-width: 600px) {
  .tocCover-right {
    width: 75%; } }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .tocCover-right {
    width: 75%; } }

@media only screen and (min-width: 1281px) {
  .tocCover-right {
    width: 296px; } }

.tocCover p {
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 1281px) {
    .tocCover p {
      width: 296px; } }

.tocCover h2 {
  margin: 0; }

.tocCover p a {
  font-family: 'Arnold Regular', monospace; }
  @media only screen and (max-width: 600px) {
    .tocCover p a {
      font-size: .85em; } }

.tocCover h3 {
  padding: 0;
  font-family: 'Laica Regular', Georgia, sans-serif;
  text-align: center;
  color: #1858A8; }
  @media only screen and (max-width: 600px) {
    .tocCover h3 {
      margin-top: .25em;
      font-size: 1.8em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .tocCover h3 {
      margin-top: .25em;
      font-size: 1.8em; } }
  @media only screen and (min-width: 1281px) {
    .tocCover h3 {
      margin-top: .25em;
      font-size: 2.5em; } }

@media only screen and (min-width: 1281px) {
  .tocCover img {
    width: 90px;
    height: 90px; } }

.homePageCallouts {
  padding: 1em 0; }
  @media only screen and (min-width: 1281px) {
    .homePageCallouts {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between; } }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .callout {
    margin: 1.4em 0; } }

@media only screen and (min-width: 1281px) {
  .callout {
    width: 296px;
    align-self: flex-start; } }

.callout p, .callout h2 {
  margin: 0;
  width: 100%;
  color: #1858A8; }

.content {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto; }

figcaption {
  font-size: .8em;
  line-height: 1.25;
  font-family: 'Laica Italic';
  color: #FF3366;
  text-align: center;
  margin-bottom: 2em; }

img.small_image {
  float: right;
  clear: right;
  height: 100%; }
  @media only screen and (max-width: 600px) {
    img.small_image {
      width: 40%;
      margin: .25em 0 0 .5em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    img.small_image {
      width: 40%;
      margin: .25em 0 0 .25em; } }
  @media only screen and (min-width: 1281px) {
    img.small_image {
      width: 296px;
      margin: 0 1.4em 2.8em 0; } }

img.abstract_image, img.large_image {
  width: 100%; }

@media only screen and (max-width: 600px) {
  img.large_image {
    margin-bottom: .25em; } }

@media only screen and (min-width: 1281px) {
  img.large_image {
    margin: .5em 0; } }

.code_image_wrapper {
  width: 100%;
  margin: 1em 0; }
  @media only screen and (min-width: 1281px) {
    .code_image_wrapper {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between; } }

.code_diagram, .code_image {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
  margin: 0;
  padding: 0;
  height: 100%; }
  @media only screen and (max-width: 600px) {
    .code_diagram, .code_image {
      width: 40%;
      margin-bottom: .25em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .code_diagram, .code_image {
      width: 40%;
      margin-bottom: .25em; } }
  @media only screen and (min-width: 1281px) {
    .code_diagram, .code_image {
      width: 296px;
      margin-right: 32px; } }

.code_image {
  box-shadow: 0px 3px 6px #cccccc; }

img.exercise_image {
  height: 100%;
  box-shadow: 0px 3px 6px #cccccc; }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    img.exercise_image {
      width: 212px;
      margin-left: 1.4em; } }
  @media only screen and (min-width: 1281px) {
    img.exercise_image {
      width: 296px;
      margin-left: 1.4em; } }

div.exercise_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: .5em 0 1em 0; }
  @media only screen and (min-width: 1281px) {
    div.exercise_wrapper {
      margin-left: 32px; } }

div.exercise_content {
  box-sizing: border-box;
  background: #e2f4ff;
  width: 100%;
  padding: 1em;
  border-top: 3px solid #1858A8; }
  @media only screen and (min-width: 1281px) {
    div.exercise_content {
      width: 560px; } }

.exercise_content p {
  margin: 0;
  width: 100%; }

@media only screen and (min-width: 1281px) {
  .exercise_content ul {
    margin: 0 0 0 1.4em; } }

.exercise_content li {
  width: 100%; }

@media only screen and (min-width: 1281px) {
  .tocBar-active {
    border-left: 6px solid #FF3366; } }

ol.tocBar {
  list-style-type: none; }
  @media only screen and (min-width: 1281px) {
    ol.tocBar {
      margin-top: 1.4em;
      text-indent: 0;
      margin-left: 0;
      width: inherit;
      position: fixed;
      top: 2em; } }

.tocBar > li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  width: 100%; }
  @media only screen and (min-width: 1281px) {
    .tocBar > li {
      margin-bottom: .25em; } }

.tocBar-sortKey {
  box-sizing: border-box;
  text-align: right;
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0; }
  @media only screen and (min-width: 1281px) {
    .tocBar-sortKey {
      width: 64px; } }

.tocBar-title {
  width: 100%;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  margin: 0;
  padding: 0; }
  @media only screen and (min-width: 1281px) {
    .tocBar-title {
      padding-right: 24px; } }

ul.tocBar-extraPages {
  list-style-type: none;
  margin: 0; }
  @media only screen and (min-width: 1281px) {
    ul.tocBar-extraPages {
      width: inherit;
      position: sticky;
      top: 5em; } }

ul.tocBar-extraPages > li::before {
  content: ''; }

.prevNext-wrapper {
  overflow: hidden;
  margin-bottom: 1em; }
  @media only screen and (min-width: 1281px) {
    .prevNext-wrapper {
      margin-left: 164px;
      margin-right: 196px; } }

.prevButton {
  float: left; }

.nextButton {
  float: right; }

.nextButton p, .prevButton p {
  margin: 0;
  font-family: 'Arnold Regular', monospace; }

.header {
  background-color: #1858A8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  border-bottom: 1px solid #FFEDED; }
  @media only screen and (min-width: 1281px) {
    .header {
      border-bottom: none;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: flex-start; } }

.header ul {
  margin: 0;
  padding: 0 1em;
  list-style: none;
  list-style-type: none;
  overflow: hidden; }

@media only screen and (min-width: 1281px) {
  .responsive-menu {
    display: none; } }

.header ul li {
  font-size: 1em;
  line-height: 1.5em;
  padding-bottom: 1em;
  font-family: 'Laica Regular', Georgia, serif; }

.header li a {
  display: block;
  padding: 0;
  color: #fff;
  text-decoration: none; }

.header li a:hover {
  color: #fff;
  border: none; }

/* menu */
.header .responsive-menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out; }

/* menu icon */
.header .responsive-menu-icon {
  cursor: pointer;
  display: inline-block;
  float: left;
  position: relative;
  user-select: none; }
  @media only screen and (max-width: 600px) {
    .header .responsive-menu-icon {
      padding: 28px 20px; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .header .responsive-menu-icon {
      padding: 28px 20px 28px 0px; } }

.header .responsive-menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px; }

.header .responsive-menu-icon .navicon:before,
.header .responsive-menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  transition: all .2s ease-out;
  height: 100%;
  width: 100%; }

.header .responsive-menu-icon .navicon:before {
  top: 5px; }

.header .responsive-menu-icon .navicon:after {
  top: -5px; }

/* menu btn */
.header .responsive-menu-btn {
  display: none; }

.header .responsive-menu-btn:checked ~ .responsive-menu {
  max-height: 100%; }

.header .responsive-menu-btn:checked ~ .responsive-menu-icon .navicon {
  background: transparent; }

.header .responsive-menu-btn:checked ~ .responsive-menu-icon .navicon:before {
  transform: rotate(-45deg); }

.header .responsive-menu-btn:checked ~ .responsive-menu-icon .navicon:after {
  transform: rotate(45deg); }

.header .responsive-menu-btn:checked ~ .responsive-menu-icon:not(.steps) .navicon:before,
.header .responsive-menu-btn:checked ~ .responsive-menu-icon:not(.steps) .navicon:after {
  top: 0; }

@media only screen and (min-width: 1281px) {
  .header li {
    float: left; }
  .header .responsive-menu-icon {
    display: none; } }

table {
  border-collapse: collapse;
  margin-bottom: .5em;
  width: 100%; }
  @media only screen and (min-width: 1281px) {
    table {
      margin-left: 164px;
      width: 624px; } }

table > code {
  background-color: transparent; }

th {
  text-align: left;
  border-bottom: solid 1px #FF3366;
  border-top: solid 3px #FF3366;
  padding: .25em; }

td {
  text-align: left;
  border-bottom: solid 1px #FF3366;
  padding: .25em; }

header, footer {
  color: #fff;
  width: 100%;
  margin: 0 auto;
  font-family: 'Arnold Regular', monospace;
  background-color: #1858A8; }
  @media only screen and (max-width: 600px) {
    header, footer {
      line-height: 2.5em;
      position: fixed;
      z-index: 1;
      top: 0; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    header, footer {
      line-height: 2.5em; } }
  @media only screen and (min-width: 1281px) {
    header, footer {
      line-height: 2.5em; } }

@media only screen and (max-width: 600px) {
  .header-wrapper {
    margin: 0 auto;
    width: 100%; } }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .header-wrapper {
    margin: 0 auto;
    width: 436px; } }

@media only screen and (min-width: 1281px) {
  .index-header-wrapper p.resource_title {
    margin-left: 164px; } }

@media only screen and (min-width: 1281px) {
  .index-header-wrapper p.author_name {
    margin-left: 32px; } }

p.resource_title, p.author_name {
  display: inline;
  margin-bottom: 0; }
  @media only screen and (max-width: 600px) {
    p.resource_title, p.author_name {
      font-size: 1em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    p.resource_title, p.author_name {
      font-size: .9em; } }
  @media only screen and (min-width: 1281px) {
    p.resource_title, p.author_name {
      margin-left: 2.8em;
      font-size: .9em; } }

p.resource_title {
  text-transform: uppercase; }
  @media only screen and (min-width: 1281px) {
    p.resource_title {
      margin-left: 328px; } }

@media only screen and (max-width: 600px) {
  p.author_name {
    display: none; } }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  p.author_name {
    display: none; } }

.resource_title a {
  color: #fff;
  vertical-align: sub; }
  @media only screen and (min-width: 1281px) {
    .resource_title a {
      vertical-align: baseline; } }

.resource_title a:hover {
  color: #fff;
  border: none; }

footer {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: #1858A8;
  font-size: .85em;
  line-height: 1.25em;
  padding: 1.5em 0; }
  @media only screen and (min-width: 1281px) {
    footer {
      font-size: .75em;
      line-height: 1.25em; } }

@media only screen and (min-width: 1281px) {
  footer .alignmentContainer, footer .homePageCallouts, footer .index-header-wrapper, footer .alignmentContainerIndex {
    margin-left: 328px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

@media only screen and (min-width: 1281px) {
  footer .alignmentContainerIndex {
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

footer p {
  margin: 0; }
  @media only screen and (max-width: 600px) {
    footer p {
      padding: 0 1em; } }

footer em, footer th {
  font-family: 'Arnold Italic'; }

footer a,
footer a:visited,
footer a:hover, footer a:visited:hover {
  color: #fff;
  border-color: #fff; }

.footer-text, .footer-title {
  font-family: 'Arnold Regular';
  color: #fff; }
  @media only screen and (max-width: 600px) {
    .footer-text, .footer-title {
      margin-bottom: 1em; } }

.footer-title {
  font-family: 'Arnold Italic';
  text-transform: uppercase; }
  @media only screen and (max-width: 600px) {
    .footer-title {
      margin-bottom: 0;
      text-indent: 1.5em; } }
  @media only screen and (min-width: 601px) and (max-width: 1280px) {
    .footer-title {
      margin-bottom: 0;
      text-indent: 1.5em; } }
  @media only screen and (min-width: 1281px) {
    .footer-title {
      margin: .5em 0; } }

@media only screen and (max-width: 600px) {
  .footer-image {
    margin: 1.5em 0 .5em 2.5em; } }

@media only screen and (min-width: 601px) and (max-width: 1280px) {
  .footer-image {
    margin: 1.5em 0 .5em 1.5em;
    width: 100px; } }

@media only screen and (min-width: 1281px) {
  .footer-image {
    margin-top: 1em;
    width: 99px; } }

.genericFooterDiv, .footer-left, .footer-middle, .footer-right {
  padding-top: 1em; }
  @media only screen and (min-width: 1281px) {
    .genericFooterDiv, .footer-left, .footer-middle, .footer-right {
      padding-top: 0;
      width: 296px;
      align-self: flex-start; } }

@media only screen and (min-width: 1281px) {
  .footer-left {
    -webkit-box-ordinal-group: 0;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0; } }

@media only screen and (min-width: 1281px) {
  .footer-middle {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; } }

@media only screen and (min-width: 1281px) {
  .footer-right {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; } }
