#welcome {
  background-color: #FFEDED;
  margin-top: 2rem;
}
@media (min-width: 600px) {
  #welcome {
    margin-top: 2rem;
  }
}
@media (min-width: 900px) {
  #welcome {
    margin-top: 2rem;
  }
}
@media (min-width: 1200px) {
  #welcome {
    margin-top: 2rem;
  }
}

#welcome > div {
  padding: 1rem 0;
}
@media (min-width: 900px) {
  #welcome > div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#welcome h1 {
  color: #F36;
  padding-bottom: 0.5rem;
}

#welcome p {
  line-height: 1.25rem;
  font-size: 1rem;
}

@media (min-width: 1200px) {
  #tutorial-list h2 {
    padding-left: 4rem;
  }
  #tutorial-list p {
    padding: 0 5rem 0 4rem;
  }
}
.tutorial-li {
  margin: 1.5rem 0;
}

.tutorial-li img {
  width: 100%;
}

.tutorial-li h2 {
  line-height: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-family: "Gig Bold", Georgia, serif;
  color: #F36;
}

@media (min-width: 900px) {
  .abstract {
    padding-right: 5rem;
  }
}

.read-more {
  font-family: "Arnold Regular", Monaco, monospace;
  line-height: 1rem;
  font-size: 0.72rem;
}