{% from 'macros.html' import renderRasterImage %}

<div class='exercise'>

    {# discover exercise index #}
    {% set ns = namespace(number=1) %}
    {% for blk in record.body.blocks if blk._flowblock == 'exercise' %}
        {% if blk == this %}
            {% set ns.number = loop.index %}
        {% endif %}
    {% endfor %}

    <div class='ex-text'>
        <div class='ex-number'>
            <p>exercise {{ record.sort_key }}.{{ ns.number }}</p>
        </div>

        <div class="ex-assignment">
            <p>{{ this.assignment }}</p>

            {% if this.solution != '' %}
                <p class='ex-solution'><a download='{{ this.solution }}' href="{{ this.solution | url}}">>>> Solution (.py)</a></p>
            {% endif %}
        </div>
    </div>

    {% if this.image %}
        {% set imageObj = record.attachments.get(this.image) %}
        {{ renderRasterImage(this.image, imageObj, 'ex-image') }}
        <!-- <img class='ex-image' src="{{ this.image }}"> -->
    {% endif %}

</div>
