<div class='exercise'>

    <div class='ex-text'>
        <div class='ex-number'>
            <p>exercise {{ this.reference }}</p>
        </div>

        <div class="ex-assignment">
            <p>{{ this.assignment }}</p>

            {% if this.solution %}
                <p class='ex-solution'><a href="{{ this.reference | url}}.py">>>> Solution (.py)</a></p>
            {% endif %}
        </div>
    </div>

    {% if this.image %}
        <img class='ex-image' src="{{ this.image }}">
    {% endif %}

</div>
