{% extends "base.html" %}

{% block title %}{{ this.title }}{% endblock %}

{% block openGraph %}
    <meta property="og:title" content="{{ this.title }} | Python for Designers">
    <meta property="og:type" content="text">
    <meta property="og:url" content="{{ this.url }}">
    <meta property="og:description" content="An introductory manual to Python3 and DrawBot">
    <meta property="og:locale" content="it_IT">
    <meta property="og:type" content="article">
    <meta property="og:author" content="Roberto Arista">
    <meta property="og:section" content="Python for Designers">
    <meta property="og:tag" content="Python Graphic Design">
{% endblock %}

{% block content %}

<div class="chapterContainer">

    <div class="left-column">
        {% include "leftMenu.html" %}
    </div>

    <div class='right-column'>
        <h1>{{ this.title }}</h1>
        <img class='large_image' src="{{ 'static/imgs/404.svg' | asseturl }}">
    </div>

</div>
{% endblock %}
