<!doctype html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ '/static/css/reset.css'|asseturl }}">
<link rel="stylesheet" href="{{ '/static/css/style.css'|asseturl }}">
<link href="{{ 'static/css/prism.css'|asseturl }}" rel="stylesheet" />
<link rel="shortcut icon" type="image/ico" href="{{ 'static/favicon.ico'|asseturl }}">

<title>{% block title %}{% endblock %} — Python for designers</title>

<body class="language-python">

    {% include "header.html" %}

    <div class="content">{% block content %}{% endblock %}</div>

    {% include "footer.html" %}

    <script src="{{ 'static/js/prism.js'|asseturl }}"></script>
    <script src="{{ 'static/js/jquery.min.js'|asseturl }}"></script>
    <script src="{{ 'static/js/typogr.min.js'|asseturl }}"></script>

    <script>
      $(document).ready(function() {
          $('#resultTypography').html(
            typogr.typogrify( $('#sourceTypography') )
          );
      })
    </script>

</body>

</html>
