{% extends "baseLayout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block content %}
<div class="chapterContainer" id='sourceTypography' style="display: none">

  <!-- start left column -->
  <div class="left-column">



    <!-- tocBar -->

    <!-- home button! -->
    <ol class='tocBar'>
      <li>
        <div class="tocBar-sortKey">&#8199;</div>
        <div class="tocBar-title"><a href="/">Home!</a></div>
      </li>

      {% set startingIndex = -1 %}
      {% set chapters = site.get('/').children.filter(F._model == 'chapter').order_by('sort_key') %}
      {% set lenChapters = chapters.all()|length %}
      {% for chapter in chapters %}
        <li><div class="tocBar-sortKey {% if this._path == chapter._path %}tocBar-active{% endif %}">{% if chapter.sort_key > 0 %}{{ chapter.sort_key }})&#8199;{% endif %}</div>
            <div class="tocBar-title"><a href="{{ chapter|url }}">{{ chapter.title }}</a></div></li>
      {% endfor %}

      <!-- empty line -->
      <li>
        <div class="tocBar-sortKey">&#8199;</div>
      </li>

      <!-- impressum -->
      <li>
        <div class="tocBar-sortKey">&#8199;</div>
        <div class="tocBar-title"><a href="/impressum">Impressum</a></div>
      </li>

    </ol>



  <!-- end left column -->
  </div>

  <!-- start right column -->
  <div class="right-column">

    <h1>{{ this.title }}</h1>
    {% if this.visual_abstract %}<img class='large_image' src="{{ this.visual_abstract }}">{% endif %}
    <div class="content">{{ this.body|convertCustomTags }}</div>

    <div class="prevNext-wrapper">

      {% if this.sort_key > startingIndex %}
        {% set prevIndex = this.sort_key-1 -startingIndex %}
          <div class='prevButton'><p><a href="{{ chapters.all()[prevIndex].path }}">>>> prev()</a></p></div>
      {% endif %}

      {% if this.sort_key < lenChapters-1 +startingIndex %}
        {% set nextIndex = this.sort_key+1 -startingIndex %}
          <div class='nextButton'><p><a href="{{ chapters.all()[nextIndex].path }}">>>> next()</a></p></div>
      {% endif %}

    </div>

  <!-- end right column -->
  </div>

</div>

<div class="chapterContainer" id="resultTypography"></div>

    <script src="{{ '/static/js/anchor.js'|asseturl}}"></script>
    <script>
      anchors.options = {
        placement: 'left',
        visible: 'touch',
        icon: '†'
        };
      anchors.add('h2');
    </script>

{% endblock %}
