{% extends "baseLayout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block openGraph %}
    <meta property="og:title" content="{{ this.title }} | Python for Designers">
    <meta property="og:image" content="{{ this | url(external=True)}}{{ this.og_image }}">
    <meta property="og:type" content="text">
    <meta property="og:url" content="{{ this | url(external=True)}}">
    <meta property="og:description" content="An introductory manual to Python3 and DrawBot">
    <meta property="og:locale" content="it_IT">
    <meta property="og:type" content="article">
    <meta property="og:author" content="Roberto Arista">
    <meta property="og:section" content="Python for Designers">
    <meta property="og:tag" content="Python Graphic Design">
{% endblock %}

{% block content %}
<div class="chapterContainer" id='sourceTypography' style="display: none">

  <div class="left-column">
    {% include "leftMenu.html" %}
  </div>

  <!-- start right column -->
  <div class="right-column">

    <h1>{{ this.title }}</h1>
    {% if this.visual_abstract %}<img class='large_image' src="{{ this.visual_abstract }}">{% endif %}
    <div class="content">{{ this.body }}</div>

    <div class="prevNext-wrapper">

      {% set startingIndex = -1 %}
      {% set chapters = site.get('/').children.filter(F._model == 'chapter').order_by('sort_key') %}
      {% set lenChapters = chapters.all()|length %}
      {% if this.sort_key > startingIndex %}
        {% set prevIndex = this.sort_key-1 -startingIndex %}
          <div class='prevButton'><p><a href="{{ chapters.all()[prevIndex].path }}">>>> prev()</a></p></div>
      {% endif %}

      {% if this.sort_key < lenChapters-1 +startingIndex %}
        {% set nextIndex = this.sort_key+1 -startingIndex %}
          <div class='nextButton'><p><a href="{{ chapters.all()[nextIndex].path }}">>>> next()</a></p></div>
      {% endif %}

    </div>

  <!-- end right column -->
  </div>

</div>

<div class="chapterContainer" id="resultTypography"></div>

    <script src="{{ '/static/js/anchor.js'|asseturl}}"></script>
    <script>
      anchors.options = {
        placement: 'left',
        visible: 'touch',
        icon: '†'
        };
      anchors.add('h2');
    </script>

{% endblock %}
