<header class="header">

    <div class='{% if this.title == "Home Page" %} index-header-wrapper {% else %} header-wrapper {% endif %}'>
        <p class="resource_title"><a href="/">Python for Designers</a></p>
        <p class="author_name">by Roberto Arista</p>

        <input class="responsive-menu-btn" type="checkbox" id="responsive-menu-btn" />
        <label class="responsive-menu-icon" for="responsive-menu-btn"><span class="navicon"></span></label>
        <ul class="responsive-menu">
            <li><a href="/">Table of Contents</a></li>
            <li><a href="/impressum">Impressum</a></li>
        </ul>
    </div>

</header>