{% extends "baseLayout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block content %}

  <div class="opening">
    <div class="alignmentContainer">
      <h1>{{ this.welcome }}</h1>
      <p>{{ this.intro }}</p>
    </div>
  </div>

  <div class="alignmentContainer">

  <!-- table of contents -->
  <div class="tocCover">

    {% for chapter in site.get('/').children.filter(F._model == 'chapter').order_by('sort_key') %}

    {% if loop.revindex0 == 0 %}
      <div class="tocCover-item noBorder">
    {% else %}
      <div class="tocCover-item">
    {% endif %}

        <div class="tocCover-left">
          <img class='tocCover-image' src="{{ chapter._id }}.svg">

          {% if chapter.sort_key > 0 %}
            <h3 class="tocCover-sortKey">{{ "%#02d"|format(chapter.sort_key) }}</h3>
          {% endif %}
        </div>

        <div class="tocCover-right">
          <h2><a href="{{ chapter.path }}">{{ chapter.title }}</a></h2>
          <p>{{ chapter.abstract }}</p>
          <p><a href="{{ chapter.path }}">>>> read()</a></p>
        </div>

      </div>

    {% endfor %}
    </div>

  </div>

    <!-- callout -->
    <div class="opening">
      <div class="homePageCallouts">

        <div class="callout"><h2>{{ this.leftBoxTitle }}</h2>
                <p>{{ this.leftBox }}</p></div>

        <div class="callout"><h2>{{ this.middleBoxTitle }}</h2>
                <p>{{ this.middleBox }}</p></div>

        <div class="callout"><h2>{{ this.rightBoxTitle }}</h2>
                <p>{{ this.rightBox }}</p></div>
      </div>
    </div>

  {% endblock %}

</div>