{% extends "base.html" %}
{% from 'macros.html' import renderSvgImage %}

{% block styles %}
  <link rel="stylesheet" href="{{ '/static/css/index.css'|asseturl }}" >
  <link rel="stylesheet" href="{{ '/static/css/scroll.css'|asseturl }}">
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}
{% block openGraph %}{% include "openGraph.html" %}{% endblock %}
{% block content %}

  <section id="welcome">
    <div class='basic-container'>
      <h1>{{ this.welcome }}</h1>
      <p>{{ this.intro }}</p>
    </div>
  </section>

  {# course banner #}
  {#
  <section id='course-banner'>
    <div class='basic-container'>
        <span>there is a new online course open to subscriptions. <a href="/online-courses/">click here</a> to check it out!</span>
    </div>
  </section>
  #}

  <section id="toc">
    <div class='basic-container'>

    {% for chapter in site.get('/chapters').children.order_by('sort_key') %}

    {% if loop.revindex0 == 0 %}
      <div class="toc-item noBorder">
    {% else %}
      <div class="toc-item">
    {% endif %}

        <div class="toc-left">
          <img class='lazyload' src="index-elements/{{ chapter._id }}.svg">

          {% if 0 < chapter.sort_key < 15 %}
            <h3>{{ "%#02d"|format(chapter.sort_key) }}</h3>
          {% endif %}
        </div>

        <div class="toc-right">
          <h2><a href="{{ chapter.path | url }}">{{ chapter.title }}</a></h2>
          <p>{{ chapter.abstract }}</p>
          <p><a href="{{ chapter.path | url }}">>>> read()</a></p>
        </div>

      </div>

    {% endfor %}
    </div>

    </div>
  </section>

  <!-- tutorials -->
  <section id='tutorial-access'>
    <div class="basic-container">

      <h4>Tutorials</h4>
      <h1><a href="/tutorials">Hands-on Guides</a></h1>
      <p>Looking for an opportunity to use the knowledge you acquired from the manual? This section is packed with step-by-step guides for real application scenarios</p>
      <p class='read-more'><a href="/tutorials">>>> read()</a></p>

    </div>
  </section>

  <!-- callout -->
  <section id="callouts">
    <div class="basic-container">
      <div class="callout">
        <h4>{{ this.leftBoxTitle }}</h4>
            {{ this.leftBox }}
      </div>

      <div class="callout">
        <h4>{{ this.middleBoxTitle }}</h4>
            {{ this.middleBox }}
      </div>

      <div class="callout">
        <h4>{{ this.rightBoxTitle }}</h4>
            {{ this.rightBox }}
      </div>
    </div>
  </section>

{% endblock %}