    <meta property="og:title" content="{{ this.title }} | Python for Designers">
    <meta property="og:image" content="{{ this | url(external=True)}}{{ this.og_image }}">
    <meta property="og:url" content="{{ this | url(external=True)}}">
    <meta property="og:description" content="An introductory manual to Python3 and DrawBot">
    <meta property="og:locale" content="it_IT">
    <meta property="og:type" content="book">
    <meta property="og:author" content="Roberto Arista">
    <meta property="og:tag" content="Python Graphic Design">