{% extends "base.html" %}
{% from 'macros.html' import renderSvgImage %}

{% block styles %}
  <link rel="stylesheet" href="{{ '/static/css/page.css'|asseturl }}" >
{% endblock %}

{% block title %}{{ this.title }}{% endblock %}
{% block openGraph %}{% include "openGraph.html" %}{% endblock %}

{% block content %}

    <section id='page'>

        <div class="basic-container">

            <h1>{{ this.title }}</h1>

            {% if this.visual_abstract %}

                {% if this.visual_abstract.endswith('.png') %}
                    {% set imageObj = record.attachments.get(this.visual_abstract) %}
                    {{ renderRasterImage(this.visual_abstract, imageObj, 'large-image') }}
                    <!-- <img class='large-image' src="{{ this.visual_abstract }}"> -->
                {% else %}
                    {{ renderSvgImage(this.visual_abstract, 'large-image') }}
                {% endif %}

            {% endif %}

            {{ this.body }}

        </div>

    </section>

{% endblock %}