{% extends "baseLayout.html" %}
{% block title %}{{ this.title }}{% endblock %}

{% block openGraph %}
    <meta property="og:title" content="{{ this.title }} | Python for Designers">
    <meta property="og:image" content="{{ this | url(external=True)}}{{ this.og_image }}">
    <meta property="og:url" content="{{ this | url(external=True)}}">
    <meta property="og:description" content="An introductory manual to Python3 and DrawBot">
    <meta property="og:locale" content="it_IT">
    <meta property="og:type" content="website">
    <meta property="og:author" content="Roberto Arista">
    <meta property="og:section" content="Python for Designers">
    <meta property="og:tag" content="Python Graphic Design">
{% endblock %}

{% block content %}

    <div class="page-container">
    <div class="alignmentContainer">
        <h1>{{ this.title }}</h1>

        {% if this.visual_abstract %}
            <img class='large_image' src="{{ this.visual_abstract }}">
        {% endif %}

        <div class="chapterContainer" id='sourceTypography' style="display: none">{{ this.body }}</div>
        <div class="chapterContainer" id="resultTypography"></div>

    </div>
    </div>

{% endblock %}