{% extends "chapter.html" %}

{% block content %}

    <section id=chapter>

      <!-- table of contents -->
      <aside>
        {{ renderTocBar(this, 'tutorials') }}
      </aside>

      <article>

        <h1>{{ this.title }}</h1>
        {% if this.visual_abstract %}<img class='large-image' src="{{ this.visual_abstract }}">{% endif %}
        <div class="content">{{ this.body }}</div>

        <!-- pagination -->
        {{ renderPagination(this, 'tutorials', 1) }}

      </article>

    </section>

{% endblock %}